html, head, body, a{   
  width: 100%;    
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #ff4d4d;
  font-family: 'Inconsolata', monospace, Consolas, Times, serif;
}

a{
  background-color: #0d0d0d;
}

a.extlink{
  text-decoration: underline; 
}

a:hover{
  color: #ff4d4d;
}

i{ 
  background-color: #0d0d0d;
  text-align: center;
}

table{
  margin-left: auto;
  margin-right: auto;
}

td{
  position: relative;
}

.outer{
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0em;
  padding-bottom: 0.3em;
  vertical-align:bottom;
}

#center-icon{
  padding-left: 0.8em;
  padding-right: 0.8em;
  bottom:0px;
}

#buttons{
  vertical-align: middle;
  height:100%;
  overflow:auto;
}

#icons{
 font-size: 400%;
}

#icon-labels{
 text-align: center;
 vertical-align: top;
}

#icon-labels td{
 padding-bottom:2em;
}

.m-link:hover{
  color: #ff4d4d;
}

#male{
  font-size: 160%;
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-bottom:0em;
}

.red-bar-pad{
  min-width: 50px;
  min-height: 90px;
  background-color: #ff4d4d;
}

#main-content{
  height: 30%;
  width: 100%;
  min-height: 220px;
  min-width: 550px;
  background-color: #0d0d0d; 
  overflow:hidden;
}

.info{
  text-align:justify;
  height:auto;
  padding: 3em;
  padding-top:5em;
  padding-bottom:5em;
  width:80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #0d0d0d;
}

#inner-info{
  height:100%;
  max-height:100%;
  max-width:900px;
  margin: auto;
  display: block;
}

ul{
  list-style: none;
  margin: 0; 
  padding: 0; 
}

li{
  display:inline;
}

#bio-pic{
  max-width:40%;
  max-height:40%;
  margin-left:auto;
  margin-right:auto;
  display:block;
  padding-top: 2em;
  padding-bottom: 2em;
}

#current-page{
  text-decoration:underline;
  color: #ff4d4d;
}

b{
	color: #ff4d4d;
}

.blog-title{
	padding-right: 1.2em;
}
